@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?kc6h2k');
  src: url('fonts/icomoon.eot?kc6h2k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kc6h2k') format('truetype'),
    url('fonts/icomoon.woff?kc6h2k') format('woff'),
    url('fonts/icomoon.svg?kc6h2k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
